.campoo-button {
  font-size: 16px;
  position: relative;
  outline: none;
  border: none;
  padding: 1rem 3.5rem;
  border-radius: 50px;
  display: inline-block;
  color: #fff;
  cursor: pointer;

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  /* Our gradient */
  background: -webkit-gradient(linear, left top, right top, from(#07c07b), to(#06aa6c));
  background: linear-gradient(to right, #07c07b, #06aa6c);

  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.campoo-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 5%;
  height: 70%;
  width: 90%;
  opacity: 0.8;
  border-radius: 50px;
  
  background: inherit;
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.campoo-button:active {
  position: relative;
  bottom: -2px;
}

.campoo-button:active::after {
  bottom: -3px;
  left: 5%;
  height: 70%;
  width: 90%;
  opacity: 0.8;
  border-radius: 50px;
  
}