.tabbar {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  background: #fff;
  box-shadow: 0px -4px 26px -19px rgba(0,0,0,0.48);

  ul {
    list-style: none;
    margin: 0;
    padding: 0px 10px;
    text-align: center;

    li {
      display: inline-block;
      height: 100%;
      margin: 0 8px;
      padding: 7px 10px;

      &.active{
        border-top: 4px solid #07c07b;
      }

      &.main{
        position: relative;
        bottom: 8px;
        background: #07c07b;
        border-radius: 100%;
        padding: 11px 13px 10px 13px;

        &.main::after {
          content: "";
          position: absolute;
          z-index: -1;
          bottom: -2px;
          left: 5%;
          height: 70%;
          width: 90%;
          opacity: 0.6;
          border-radius: 50px;
          
          background: inherit;
          filter: blur(6px);
          transition: all 0.2s;
        }

      }
    }
  }
}