ion-content {
  --background: #FFF;
}

ion-slides {
  width: 100%;
  height: 100%;
}

.textbox {
  padding: 20px;
}

.slide-title {
  color: #07c07b;;
  font-weight: bold;
  text-align: left;
}

.slide-description {
  color: #888;
  text-align: left;
}


