<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./assets/illustrations/map-person.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="textbox">
            <h1 class="slide-title">Encontre missões</h1>
            <p class="slide-description">Em lugares comuns do seu dia-a-dia ou explore novos lugares em busca de missões.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="./assets/illustrations/survey-flow.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="textbox">
            <h1 class="slide-title">Colete ou valide informações</h1>
            <p class="slide-description">Responda perguntas simples, tire fotos ou coloque sua opinião sobre lugares, serviços ou produtos.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="./assets/illustrations/money-pork.png" alt="">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="textbox">
              <h1 class="slide-title">Ganhe dinheiro a cada missão</h1>
              <p class="slide-description">Cada missão finalizada você ganha cashback pela sua contribuição</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="./assets/illustrations/result-chart.png" alt="">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="textbox">
                <h1 class="slide-title">Ajude empresas</h1>
                <p class="slide-description">A cada missão você ajuda empresas a validar informações e melhorar seus serviços.</p>
              </ion-col>
            </ion-row>

            <ion-row style="margin-top: 30px">
              <ion-col>
                <campoo-button 
                  label="VAMOS NESSA"
                  expand="block"
                  (onClick)="goToLogin()">
                </campoo-button>
              </ion-col>
            </ion-row>

          </ion-grid>
        </ion-slide>
  </ion-slides>
</ion-content>
