<header class="header">
  <div class="header-content">
    <div>
      <span class="brand">HEY, VICTOR</span>
      <span class="sub-brand">LET'S EXPLORE NEW MISSIONS ?</span>
    </div>
    <div>
      <svg-icon src="./assets/icon/qr.svg" [svgStyle]="{ 'width.px':25, 'height.px':42 , 'fill':'#FFF' }"></svg-icon>
    </div>
  </div>
</header>


<!---
<header class="header simple">
  <div class="header-content">
    <div>
      <span class="brand">WALLET</span>
    </div>
  </div>
</header>
-->

<!--
<header class="header profile">
  <div class="header-content">
    <div>
      <svg-icon src="./assets/icon/person-outline.svg" [svgStyle]="{ 'width.px':30, 'height.px':40 , 'fill':'#FFF' }"></svg-icon>
    </div>
    <div>
      <span class="brand">VICTOR CAETANO</span>
      <span class="sub-brand">VEJA OU EDITE SUAS INFORMAÇÕES</span>
    </div>
  </div>
</header>

-->