header {
  width: 100%;
  height: 100px;

  &.simple {
    height: 70px;
  }

  &.profile {
    height: 170px;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    overflow: hidden;
    padding: 20px;

    div {
      padding: 5px;
      display: flex;
      flex-direction: column;
    }

    .brand {
      color: #FFF;
      margin: 0;
      margin-bottom: 4px;
      padding: 0px;
      font-size: 21px;
      font-weight: 800;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }

    .sub-brand {
      color: #005621;
      margin: 0;
      margin-bottom: 4px;
      padding: 0px;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
  }
}


ion-toolbar {
  --min-height: 25px;
  --padding-bottom:15px;
  --padding-top:15px;
  --padding-start:10px;
  --padding-end:10px;
}

ion-toolbar.transparent {
  --background: transparent;
}