@import url('https://fonts.googleapis.com/css?family=Quicksand');

:root {

  //AppFont
 --ion-font-family: "Quicksand", sans-serif;
 
}

ion-content {
  --background: rgb(144,221,144);
  --background: linear-gradient(119deg, rgba(144,221,144,1) 0%, rgba(54,188,149,1) 100%);

  main {
    width: 100%;
    height: 82%;
    padding: 20px 20px 25px 20px;
    background: #F6F8FC;
    position: absolute;
    border-radius: 25px 25px 0 0;
    overflow: scroll;
  }
}
