<ion-content>
  <campoo-header></campoo-header>
  <main>
    <div #mapRef style="width: 100%;height: 100%;position: static;background-color: rgb(229, 227, 223);"></div>
    <div class="teste">
      <h1>MISSIONS NEAR BY</h1>

   
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <div class="card">
            <header class="card-header">
              <span class="card-title">Avaliar atendimento dos caixas</span>
              <span class="card-subtitle">Potcake da Lu</span>
              <span class="card-information">
                <svg-icon src="./assets/icon/pin-outline.svg" [svgStyle]="{ 'width.px':12 , 'fill':'#b5b5b5' }"></svg-icon>
                Rua da consolação, 2223, Apto 31 - Consola...
              </span>
            </header>
            <footer class="card-footer">
              <span class="card-subtitle">R$ 20,00</span>
              <span class="card-information">10 min</span>
            </footer>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="card">
            <header class="card-header">
              <span class="card-title">Avaliar atendimento dos caixas</span>
              <span class="card-subtitle">Potcake da Lu</span>
              <span class="card-information">
                <svg-icon src="./assets/icon/pin-outline.svg" [svgStyle]="{ 'width.px':12 , 'fill':'#b5b5b5' }"></svg-icon>
                Rua da consolação, 2223, Apto 31 - Consola...
              </span>
            </header>
            <footer class="card-footer">
              <span class="card-subtitle">R$ 20,00</span>
              <span class="card-information">10 min</span>
            </footer>
          </div>
        </ion-slide>
      </ion-slides>




    </div>
  </main>
</ion-content>
<campoo-tabs></campoo-tabs>

