ion-content {
  main {
    padding: 0;
  }
}

.teste {
  width: 100%;
  height: 200px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 38%);
}

h1 {
  color: #06aa6c;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

ion-slides {
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
}

ion-slide {
  width: 310px;
}

.card {
  width: 90%;
  height: 150px;
  margin: 20px 0;
  padding: 15px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);

  .card-header {
    display: flex;
    flex-direction: column;
  }

  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #f1f1f1;
  }

  .card-title {
    color: #333;
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
  }

  .card-subtitle {
    color: #666;
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
  }

  .card-information {
    color: #b5b5b5;
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
  }
}