<ion-content>
  <campoo-header></campoo-header>

 <main>

    <h1>MISSIONS NEAR BY</h1>

    <div class="card">
      <header class="card-header">
        <span class="card-title">Avaliar atendimento dos caixas</span>
        <span class="card-subtitle">Potcake da Lu</span>
        <span class="card-information">
          <svg-icon src="./assets/icon/pin-outline.svg" [svgStyle]="{ 'width.px':12 , 'fill':'#b5b5b5' }"></svg-icon>
          Rua da consolação, 2223, Apto 31...
        </span>
      </header>
      <footer class="card-footer">
        <span class="card-subtitle">R$ 20,00</span>
        <span class="card-information">10 min</span>
      </footer>
    </div>

    <div class="card">
        <header class="card-header">
          <span class="card-title">Avaliar atendimento dos caixas</span>
          <span class="card-subtitle">Potcake da Lu</span>
          <span class="card-information">
            <svg-icon src="./assets/icon/pin-outline.svg" [svgStyle]="{ 'width.px':12 , 'fill':'#b5b5b5' }"></svg-icon>
            Rua da consolação, 2223, Apto 31 - Consola...
          </span>
        </header>
        <footer class="card-footer">
          <span class="card-subtitle">R$ 20,00</span>
          <span class="card-information">10 min</span>
        </footer>
      </div>

      <div class="card">
          <header class="card-header">
            <span class="card-title">Avaliar atendimento dos caixas</span>
            <span class="card-subtitle">Potcake da Lu</span>
            <span class="card-information">
              <svg-icon src="./assets/icon/pin-outline.svg" [svgStyle]="{ 'width.px':12 , 'fill':'#b5b5b5' }"></svg-icon>
              Rua da consolação, 2223, Apto 31 - Consola...
            </span>
          </header>
          <footer class="card-footer">
            <span class="card-subtitle">R$ 20,00</span>
            <span class="card-information">10 min</span>
          </footer>
        </div>


        <div class="card">
            <header class="card-header">
              <span class="card-title">Avaliar atendimento dos caixas</span>
              <span class="card-subtitle">Potcake da Lu</span>
              <span class="card-information">
                <svg-icon src="./assets/icon/pin-outline.svg" [svgStyle]="{ 'width.px':12 , 'fill':'#b5b5b5' }"></svg-icon>
                Rua da consolação, 2223, Apto 31 - Consola...
              </span>
            </header>
            <footer class="card-footer">
              <span class="card-subtitle">R$ 20,00</span>
              <span class="card-information">10 min</span>
            </footer>
          </div>

          <div class="card">
              <header class="card-header">
                <span class="card-title">Avaliar atendimento dos caixas</span>
                <span class="card-subtitle">Potcake da Lu</span>
                <span class="card-information">
                  <svg-icon src="./assets/icon/pin-outline.svg" [svgStyle]="{ 'width.px':12 , 'fill':'#b5b5b5' }"></svg-icon>
                  Rua da consolação, 2223, Apto 31 - Consola...
                </span>
              </header>
              <footer class="card-footer">
                <span class="card-subtitle">R$ 20,00</span>
                <span class="card-information">10 min</span>
              </footer>
            </div>
    
 </main>
  <!---
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <img src="/assets/shapes.svg" alt="" />
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
          <ion-card-title>Welcome to Ionic</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        </ion-card-content>
      </ion-card>

      <ion-card class="welcome-card">
          <img src="/assets/shapes.svg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
      -->
    
</ion-content>

<campoo-tabs></campoo-tabs>