.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

h1 {
  color: #06aa6c;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}

.card {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background: #FFF;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0,0,0,.12);

  .card-header {
    display: flex;
    flex-direction: column;
  }

  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #f1f1f1;
  }

  .card-title {
    color: #333;
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }

  .card-subtitle {
    color: #666;
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
  }

  .card-information {
    color: #b5b5b5;
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
  }



}
